  
  /* Style the search container */
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    border: 2px black;
    border-radius: 10%;
  }


  
  /* Style the search dropdown */
  .search-dropdown {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #444;
    border: 2px black;
    border-radius: 4px;
  }
  
  /* Style the search input */
  .search-input {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
    color: #444;
    border: 2px black;
    border-radius: 4px;
  }


  .cssbuttons-io-buttondel {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 10px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(203, 14, 46) 0%, rgb(232, 140, 112) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    text-decoration: none;
    width: fit-content;
  }
  
  
  .cssbuttons-io-buttondel:hover {
    box-shadow: 0 0.2em 0.5em 0.5em #f56f6f;
  }
  
  .cssbuttons-io-buttondel:active {
    box-shadow: 0 0.2em 0.5em 0.5em #f7056298;
  }


  .cssbuttons-io-buttonupd {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 10px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(19, 49, 243) 0%, rgb(10, 228, 224) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    text-decoration: none;
    width: fit-content;
  }
  
  .cssbuttons-io-buttonupd svg {
    margin-right: 6px;
  }
  
  .cssbuttons-io-buttonupd:hover {
    box-shadow: 0 0.2em 0.5em 0.5em #0cfffbff;
  }
  
  .cssbuttons-io-buttonupd:active {
    box-shadow: 0 0.2em 0.5em 0.5em #0cfffb98;
  }